service: lessons-api

disableSchemaValidation: true

custom:
  env: ${lower(${opt:stage, self:provider.stage})}
  vpcSettings:
    prod:
      securityGroupIds:
        - sg-052314a1eec2f2567
      subnetIds:
        - subnet-01a6b61d749d10c46
    current: ${self:custom.vpcSettings.${self:custom.env}, ""}

provider:
  name: aws
  runtime: nodejs22.x
  memorySize: 2048
  timeout: 60
  region: us-east-2
  iam:
    role: arn:aws:iam::428019619026:role/ChurchAppsRole
  environment:
    APP_ENV: ${self:custom.env}

functions:
  api:
    handler: lambda.universal
    timeout: 30
    events:
      - http:
          path: /{proxy+}
          method: ANY
      - http:
          path: /
          method: ANY
    vpc: ${self:custom.vpcSettings.current}
  videoPingback:
    handler: lambda.videoPingback
    vpc: ${self:custom.vpcSettings.current}
  zipBundles:
    handler: lambda.zipBundles
    vpc: ${self:custom.vpcSettings.current}
    timeout: 300
    events:
      - schedule: rate(5 minutes)

plugins:
  - serverless-plugin-utils
